<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Libro</title>
</head>
<body>
    <h1>Detalles del Libro</h1>
    <ul>
        <li><strong>ID:</strong> <%= book.BookID %></li>
        <li><strong>Título:</strong> <%= book.Title %></li>
        <li><strong>ID de la Serie:</strong> <%= book.SeriesID %></li>
        <li><strong>ID del Autor:</strong> <%= book.AuthorID %></li>
    </ul>
</body>
</html>
