<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs') %>
    <%- include('includes/navbar.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <form method="POST" action="/formulario/form_method">
        <input type="number" name="indice" placeholder="Ãndice">
        <br>
        <input type="text" name="imprimir" placeholder="Valor a imprimir">
        <br>
        <input type="submit">
    </form>
    <%- include('includes/footer.ejs') %>
</body>
</html>
