<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva pregunta Lab12</title>
</head>
<body>
    <h1>Nueva pregunta Lab12</h1>
    <h2>Motores de Plantillas para Node.js</h2>
    <ul>
        <li><strong>EJS:</strong> Es muy común en aplicaciones Node.js.</li>
        <li><strong>Pug:</strong> Es un motor de plantillas HTML con una sintaxis simplificada que utiliza sangrías en lugar de etiquetas HTML. Es conocido por su concisión y su capacidad para generar HTML de manera eficiente.</li>
        <li><strong>Handlebars:</strong>  Es un motor de plantillas que se basa en la sintaxis de Mustache y proporciona una forma sencilla de crear plantillas dinámicas. Es muy versátil y puede utilizarse tanto en el lado del cliente como en el lado del servidor.</li>
        <li><strong>Mustache:</strong>  Es un sistema de plantillas lógico que se puede utilizar en varios lenguajes de programación. Es conocido por su simplicidad y legibilidad, ya que evita la lógica compleja en las plantillas.</li>
        <li><strong>Nunjucks:</strong> Es un motor de plantillas inspirado en Jinja2 (utilizado en Python) que proporciona una sintaxis similar y funcionalidades avanzadas como herencia de plantillas, macros y bloques.</li>
    </ul>
</body>
</html>
