<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del formulario</title>
</head>
<body>
    <h1>Datos del formulario</h1>
    <p>Índice: <%= indice %></p>
    <p>Imprimir: <%= imprimir %></p>
</body>
</html>
